{% extends 'DanLynElasticsearchExplorerBundle:Default:layout.html.twig' %}

{% block title 'ElasticsearchExplorer: Configuration' %}

{% block content %}
    <div class="row">
        <div class="large-6 columns">
            <h2>{% trans %}Configuration{% endtrans %}</h2>
            <table>
                <tbody>
                {% if hosts %}
                    <tr>
                        <td><strong>{% trans %}Host{% endtrans %}</strong></td>
                        <td>{% for host in hosts %}{{ host }}{% if loop.last == false %} ,{% endif %}{% endfor %}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
