{% extends '@DanLynElasticsearchExplorer/Default/layout.html.twig' %}

{% block title 'ElasticsearchExplorer: Configuration' %}

{% block content %}
    <div class="col-sm-6">
        <h2>{% trans %}Configuration{% endtrans %}</h2>
        <table class="table">
            <tbody>
            {% if hosts %}
                <tr>
                    <td>
                        <strong>{% trans %}Host{% endtrans %}</strong>
                    </td>
                    <td>{% for host in hosts %}{{ host }}{% if loop.last == false %} ,{% endif %}{% endfor %}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
