{% extends 'DanLynElasticsearchExplorerBundle:Default:layout.html.twig' %}

{% block title 'ElasticsearchExplorer: Configuration' %}

{% block content %}
    <span>Configuration</span>
{% endblock %}
