{% extends '@DanLynElasticsearchExplorer/Default/layout.html.twig' %}

{% block title 'ElasticsearchExplorer' %}

{% block content %}
    {% for index in indexes %}
        <div class="col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <a href="{{ path('dan_lyn_elasticsearch_explorer_search_index', {searchindex: index.name}) }}">
                            {{ index.name }}
                        </a>
                    </h2>
                </div>
                <div class="panel-body">
                    <table class="table table-borderless table-nomargin">
                        <tr>
                            <td>
                                <strong>{% trans %}Total docs{% endtrans %}</strong>
                            </td>
                            <td>{{ index.total_docs }}</td>
                        </tr>
                        <tr>
                            <td>
                                <strong>{% trans %}Total size{% endtrans %}</strong>
                            </td>
                            <td>{{ index.total_size }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
