{% extends '@JenbuzzElasticsearchExplorer/Default/layout.html.twig' %}

{% block title 'ElasticsearchExplorer: Plugins' %}

{% block content %}
    {% if plugins %}
    <div class="col-sm-6">
        <h2>{% trans %}Plugins{% endtrans %}</h2>
        <table class="table">
            <tbody>
            {% for plugin in plugins %}
                <tr>
                    <td>
                        <a href="http://{{ hosts }}{{ plugin.url }}" target="_blank">
                            <strong>{{ plugin.name }}</strong>
                        </a>
                    </td>
                    <td>{{ plugin.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}
