{% extends 'DanLynElasticsearchExplorerBundle:Default:layout.html.twig' %}

{% block title 'ElasticsearchExplorer: Search' %}

{% block content %}

<form>
  <div class="row">
    <div class="large-12 columns">
      <label>Select index:
        <select>
          {% for index in indexes %}
          <option value="{{ index.name }}"{% if searchindex==index.name %} selected{% endif %}>{{ index.name }}</option>
          {% endfor %}
        </select>
      </label>
    </div>
  </div>
</form>

{% endblock %}
